
<div style="margin:100px; padding:50px; background-color:pink; width:100px;" >
<p><%= @player_1.name %> vs. <%= @player_2.name %></p>
<p><%= @player_2.name%> : <%= @player_2_name.health %></p>    

<form action="/fire"> 
<input type="submit" value="fire"> 
</form>
</div>